<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Manage Sellers</title>
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="stylesheet" th:href="@{/css/admin-table.css}">
    
</head>
<body>

<div class="container">
    <h2>Sellers</h2>

 <table>
<tr>
    <th>ID</th>
    <th>Username</th>
    <th>Email</th>
    <th>Action</th>
</tr>

<tr th:each="s : ${sellers}">
    <td th:text="${s.id}"></td>
    <td th:text="${s.username}"></td>
    <td th:text="${s.email}"></td>
    <td>
    <form th:action="@{/admin/delete-seller/{id}(id=${s.id})}"
          method="post"
          onsubmit="return confirm('Deleting seller will remove all products. Continue?');">
        <button class="btn-delete">Delete</button>
    </form>
</td>
    
</tr>
</table>

<a href="/admin/dashboard">⬅ Back</a>

</div>

</body>
</html>
