<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart - Gentleman Jones</title>
    <link rel="stylesheet" href="../CSS/cart.css"/>
</head>
<body>

<h1>Your Cart</h1>


<center>
<div th:if="${#lists.isEmpty(cartItems)}">
    <p>Your cart is empty.</p>
</div>

<div   th:if="${!#lists.isEmpty(cartItems)}">
    <table >   
        <tbody  >
        <tr class="cart-item"  th:each="item : ${cartItems}">
        	<td>
			    <img th:src="${item.imageUrl}" alt="Product Image" class="cart-img"/>
			</td>


          <td>
			    <div class="first-block">
			      <b>  <span class="title" th:text="${item.title}"></span></b>
			        <span class="desc" th:text="${item.description}"></span>
			    </div>
			</td>

            <td>
                <form th:action="@{/cart/update}" method="post">
                    <input type="hidden" name="id" th:value="${item.id}"/>
                    Qty:<input class="cart-item-input" type="number" name="quantity" min="1" th:value="${item.quantity}"/>
                    <button type="submit" class="btn">Update</button>
                </form>
            </td>
			<td>
		        <label>Price:</label>
		        <span th:text="${item.price}"></span>
		    </td>
		
		    <td>
		        <label>Total:</label>
		        <span th:text="${item.price * item.quantity}"></span>
		    </td>

            <td>
                <form th:action="@{/cart/remove}" method="post">
				    <input type="hidden" name="id" th:value="${item.id}" />
				    <button class="btn-remove"type="submit">Remove</button>
				</form>


            </td>
        </tr>
        </tbody>
    </table>

    <form th:action="@{/cart/clear}" method="post">
        <button class="btn-clear" type="submit">Clear Cart</button>
    </form>
</div> 

<a th:href="@{/home}"><button class="home-btn">Home</button> </a>
</center>
</body>
</html>
